.box {
   display: flex;
   justify-content: center;
   max-width: 700px;
   margin: auto;
   padding-left: 10px;
   flex-wrap: wrap;

   border: 6px solid rgba(255, 255, 255, 0.5);
   border-radius: 20px;
}

.box > * {
   color: rgba(61, 61, 61, 0.8);
   margin: 20px;
}

* {
   font-family:'Courier New', Courier, monospace;
}